/* Allgemeine Sachen */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #f5f0d7;
  width: 99vw;
  margin: auto;
}
.text {
  max-width: 800px;
  color: #3c5724;
  line-height: 28px;
  font-size: 18px;
}
h1 {
  font-size: 56px;
  color: #3c5724;
}
h2 {
  text-transform: uppercase;
  color: #3c5724;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 35px;
}
.content {
  width: 100%;
  padding: 50px 150px;
}
button {
  background-color: #f07300;
  color: #ffffff;
  padding: 10px 25px;
  border: none;
  box-shadow: none;
  font-size: 18px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
button:hover {
  filter: brightness(1.2);
}
button img {
  margin-right: 5px;
}
.header-img img {
  width: 100%;
}

/* Header und Menü */
header {
  background-color: #e8ddac;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 50px 30px;
  position: relative;
  height: 100px;
}
.logo {
  background-color: #ffffff;
  width: 128px;
  height: 128px;
  border-radius: 0 0 25px 25px;
  position: absolute;
  top: 0;
  left: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo .logo-img {
  height: 80px;
  width: auto;
}
.menu {
  font-size: 18px;
  color: #3c5724;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu .element {
  padding: 10px;
  cursor: pointer;
}
.menu .element.selected,
.menu .element:hover {
  color: #f07300;
}

/* Über Buschi */
.buschi {
  display: flex;
  justify-content: space-between;
}
/* Warum ist der Text anders als andere Texte?*/
.buschi .text {
  width: 50%;
  color: #e8ddac;
}
.buschi .text p {
  margin: 50px;
  margin-left: 0;
}
.buschi .steckbrief {
  width: 50%;
  background: #e8deac;
  background-image: url(img/globe-africa-solid\ 1.png);
  background-repeat: no-repeat;
  background-position: 90% 90%;
  margin: 50px;
  border-radius: 10px;
  padding: 40px;
  color: #3c5724;
}
.buschi .steckbrief .steckbrief-kopf {
  display: flex;
  align-items: flex-end;
  width: 100%;
  margin-bottom: 40px;
}
.buschi .steckbrief .steckbrief-kopf p {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0;
  margin: 0;
}
.buschi .steckbrief .steckbrief-kopf .linie {
  border-bottom: 1px solid #3c5724;
  height: 1px;
  width: 70%;
}
.buschi .steckbrief .steckbrief-text {
  opacity: 70%;
}
.buschi .steckbrief .steckbrief-text p {
  padding: 10px 0;
}

/* Buschi und Yaro feiern Geburtstag */
.geburtstag {
  margin: auto;
  width: 100%;
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.labyrinth {
  width: 100%;
  border: 3px solid #e8deac;
  border-radius: 20px;
  padding: 32px 50px;
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.labyrinth .text {
  margin-left: 20px;
}
.labyrinth .text p {
  margin: 25px 0;
}
.labyrinth img {
  max-height: 225px;
}

/* Bilder-Karussell */
.flexslider {
  background-color: none;
  border: none;
  margin: 0 -140px;
}
.flex-direction-nav .flex-next {
  right: 50px;
}
.flex-direction-nav a.flex-next:before {
  content: "";
  background-image: url(img/arrow.svg);
  background-repeat: no-repeat;
  background-color: #f5f0d7;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  opacity: 1;
  background-position: 50% 50%;
}
.flex-direction-nav .flex-prev {
  left: 50px;
}
.flex-direction-nav a.flex-prev:before {
  content: "";
  background-image: url(img/arrow.svg);
  background-repeat: no-repeat;
  background-color: #f5f0d7;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  opacity: 1;
  background-position: 50% 50%;
  transform: rotate(180deg);
}
.flex-control-nav {
  display: none;
}

/* text für das Spiel */
.spiel {
  margin: 50px auto;
  width: 100%;
}
.spiel .text {
  /* Zentriert den Text, 
        zum links anzeigen: 
            text-align:left; 
            margin:auto löschen
        zum rechts anzeigen:
            text-align:right;
            margin:auto löschen
  */
  width: 100%;
  text-align: center;
  margin: auto;
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
footer .footer {
  background-color: #e8ddac;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px 150px;
  color: #3c5724;
  line-height: 28px;
  font-size: 16px;
}
footer .footer .links {
  width: 30%;
  opacity: 0.7;
}
footer .footer .links .copyright {
  margin-top: 50px;
}
footer .footer .rechts {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 50%;
  opacity: 0.8;
}
/* Warum hat der erste Textblock eine andere Zeilenhöhe? Vielleicht könnten wir das besser löschen? */
footer .footer .rechts div:first-of-type a {
  line-height: 0.7;
}
footer .footer .rechts div a {
  display: block;
  color: #3c5724;
  line-height: 28px;
  text-decoration: none;
}
footer .socialmedia {
  background-color: #f5f0d7;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 150px;
}
footer .socialmedia .icon {
  border: 1px solid #3c5724;
  border-radius: 100px;
  height: 42px;
  width: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
